body {
    text-align: center;
    font-family:  'Open Sans', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
}

#block {
    width:45vw;
    height: 93vh;

}

#ligne1, #ligne2, #ligne3{
    height: 31vh;
    display: inline-flex;
    text-align: center;
}

.carre{
    width: 15vw;
    height: 31vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#cube1 {
    background-color: #35bc7a;
    width: 30.2vw;
    height: 31vh;

}

#cube2 {
    background-color: #ff9f00;

}

#cube3 {
    background-color: #1e8bc3;
}
#cube4 {
    background-color: #f05a49;
}

#cube5 {
    background-color: #35bc7a;
}

#cube6 {
    background-color: #f86924;
}

#cube7 {
    background-color: #1e8bc3;
}

#cube8 {
    background-color: #f86924;
}

.text {
    color: white;
    text-align: center;
    margin-bottom: auto;
}

.textPro {
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.icones {
    height: 10vh;
    width: 6vw;
    margin: auto;
}


#slider {
    display: inline-flex;
}

#slide1, #slide2, #slide3 {
    display: inline-flex;
    background-color: #1e8bc3;
}

#slideT {
    display: inline-flex;
    width: 30vw;
    height: 93vh;
}

#black1, #black2 {
    display: inline-flex;
    width: 5vw;
    height: 10vh;
    background-color: #1e8bc3;
}

#resume, #contact {
    color: white;
    border: 1px solid white;
    width: 5vw;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
   margin-top: 40vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 820px) {
    body{
        margin: 0;
    }
    #container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #block {
        width:100vw;
        height: auto;
    }


    #ligne1{
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #ligne2, #ligne3{
        height:160vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }


    #cube1 {
        padding-top: 5%;
        width: 100vw;
        height: 60vh;

    }
    .carre{
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #slideT {
        display: inline-flex;
        width: 80vw;
        height: auto;
    }
    .textPro {
        font-size: 1em;
        color: white;
        font-weight: bold;
    }

    #resume, #contact {
        color: white;
        border: 1px solid white;
        width: 25vw;
        margin-top: 7%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
    }



    #black1, #black2 {
        display: inline-flex;
        width: 10vw;
        height: 10vh;

    }

    .icones {
        height: 20vh;
        width: auto;
        margin: auto;
    }


    .icon {
        margin-top: 40vh;
    }
}

